(
  axes: {
    "rotate": Emulated(
      pos: Key(Right),
      neg: Key(Left),
    ),
    "accelerate": Emulated(
      pos: Key(Up),
      neg: Key(Down),
    ),
  },
  actions: {
    "shoot": [
      [Key(Space)]
    ]
  },
)
